@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

*,
*::before,
*:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font: 400 15px/1.8 Poppins, sans-serif;
  color: #444444;
  margin: 0;
}
@media screen and (min-width: 640px) {
  body {
    font-size: 22px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 30px;
  line-height: 1.2;
}
h1 {
  margin-bottom: 15px;
  font-size: 40px;
  letter-spacing: 1.65px;
}
@media (min-width: 640px) {
  h1 {
    font-size: 60px;
  }
}
h2 {
  font-size: 62px;
}
h3 {
  font-size: 36px;
}
h4 {
  font-size: 30px;
}
a {
  color: #e71cb4;
}
a:hover {
  text-decoration: none;
}
.ba-intro-subtitle {
  font-size: 30px;
  margin: 0 0 60px;
}
.ba-container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
.ba-section-intro {
  background: #444 url(../img/intro.jpg) 50%;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 90px 0 60px;
  display: flex;
  align-items: center;
  min-height: 100vh;
}
.ba-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), transparent);
  padding-bottom: 35px;
  z-index: 1;
  /* Фиксированное позиционирование */
}

.ba-header-bar {
  padding-top: 35px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.ba-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  line-height: 1;
  margin-top: -2px;
}

.ba-mein-nav {
}
.ba-menu-toggle {
  border: none;
  background: none;
  color: #fff;
  cursor: pointer;
}
.ba-menu-toggle svg {
  fill: currentColor;
}
.ba-menu-toggle:hover,
.ba-menu-toggle:focus {
  outline: none;
  color: #e71cb4;
}
@media (min-width: 640px) {
  .ba-main-nav {
  }
  .ba-menu-toggle {
    display: none;
  }
}

.ba-logo img {
  display: block;
}
.ba-menu li + li {
  margin-left: 33px;
}

.ba-menu a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.4px;
  padding-bottom: 6px;
  border-bottom: 1px solid transparent;
}
.ba-menu a:hover {
  border-bottom: 1px solid #e429b2;
  color: #e429b2;
}
@media (max-width: 639px) {
  .ba-main-nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 50vw;
    min-width: 250px;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 10px #000;

    transition: transform 0.9s;
    transform: translateX(calc(-100% - 10px));
  }
  .ba-main-nav.active {
    transform: translateX(0);
  }
  .ba-menu {
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 20px;
  }
  .ba-menu li + li {
    margin-left: 0;
  }
  .ba-menu a {
    display: inline-block;
    font-size: 22px;
    margin-bottom: 10px;
  }
}

.ba-button-hollow {
  display: inline-block;
  border: 2px solid #fff;
  padding: 9px 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  border-radius: 8px;
  letter-spacing: 0.4px;
}

.ba-button-hollow:hover {
  background: #fff;
  color: #000;
}

.ba-section {
  padding: 100px 0;
}
.ba-section-title {
  font-size: 40px;
  margin-bottom: 40px;
}

@media (min-width: 640px) {
  .ba-section-title {
    font-size: 62px;
  }
}
.ba-section--colored {
  background-image: linear-gradient(to bottom, #333399, #fe00cc);
  color: #fff;
}

.ba-section-title--colored {
  color: #e71cb4;
  margin-bottom: 80px;
}
.ba-text-large {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 100px;
}
@media screen and (min-width: 640px) {
  .ba-text-large {
    font-size: 32px;
  }
  .ba-list-numbers {
    list-style: none;
    padding: 0;
    margin: 60px 0;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;

    counter-reset: li-number;
  }

  .ba-list-numbers > li {
    counter-increment: li-number;
    padding-left: 195px;
    position: relative;
    margin-bottom: 87px;
    width: 50%;
  }
  @media screen and (min-width: 640px) {
    .ba-list-numbers {
      font-size: 24px;
    }
  }
  .ba-list-numbers > li::after {
    content: ">";
    font-size: 44px;
    color: #ffde16;
    position: absolute;
    left: 24px;
    top: 10px;
    line-height: 1;
  }
  .ba-list-numbers > li::before {
    content: "0" counter(li-number) ".";
    font-size: 44px;
    color: #ffde16;
    font-weight: 700;
    position: absolute;
    left: 98px;
    top: 0;
    line-height: 1;
  }

  .ba-list-numbers > li:nth-child(n + 10):before {
    content: counter(li-number);
  }

  @media (max-width: 639px) {
    .ba-list-numbers {
      display: block;
    }
  }
  .ba-list-numbers > li {
    padding-left: 100px;
    margin-bottom: 40px;
    width: 100%;
  }
  .ba-list-numbers > li::after {
    content: none;
  }
  .ba-list-numbers > li::before {
    left: 0;
  }
}
.ba-button {
  display: inline-block;
  background: #c321bb;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  padding: 0 20px;
  min-height: 69px;
  line-height: 69px;
  border-radius: 12px;
  border: none;
  cursor: pointer;

  transition: background 0.2s;
}
@media screen and (min-width: 640px) {
  .ba-button {
    padding: 0 70px;
  }
}

.ba-buttom:hover {
  background: #e71cde;
}
.ba-button--dark {
  text-transform: uppercase;
  background: #555555;
  border-radius: 0;
  min-height: 50px;
  line-height: 50px;
  padding: 0 40px;
  font-size: 12px;
  letter-spacing: 0.1em;
}
.ba-button--dark:hover {
  background: #ffffff;
  color: #555555;
  box-shadow: 0 3px 0 0 #555;
}

.ba-dj {
  text-align: center;
  margin-bottom: 25px;
  font-size: 16px;
}
.ba-dj > :last-child {
  margin-bottom: 0;
}
.ba-dj__img {
  border-radius: 10px;
  margin-bottom: 18px;
}
.ba-dj__title {
  margin-bottom: 15px;
}

.ba-countdown {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.ba-countdown__title--big {
  font-size: 42px;
}
@media screen and (min-width: 640px) {
  .ba-countdown__title--big {
    font-size: 62px;
  }
}
.ba-countdown__item {
  background: rgba(0, 0, 0, 0.7);
  width: 160px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-bottom: 30px;
  font-size: 12px;
  text-transform: uppercase;
  padding: 25px 0;
}
.ba-countdown__item + .ba-countdown__item {
  margin-top: 40px;
}
@media screen and (min-width: 1024px) {
  .ba-countdown {
    flex-direction: row;
  }
  .ba-countdown__item + .ba-countdown__item {
    margin: 0 0 0 70px;
  }
}

.ba-countdown__number {
  font-size: 71px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 25px;
}

.ba-countdown__item--hollow {
  border: 1px solid #fff;
  background: none;
}

.ba-dj-list {
  margin-bottom: 80px;
}

.ba-contact-form {
  max-width: 636px;
  margin: 0 auto;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="url"],
textarea,
select {
  transition: color 0.3s ease-in, border-color 0.3s ease-in,
    background-color 0.3s ease-in, opacity 0.3s ease-in, box-shadow 0.2s ease-in;
  display: block;
  width: 100%;

  border: none;
  border-bottom: 2px solid #555;
  box-shadow: 0 3px 0 0 #555;
  border-radius: 0;
  font-size: 13px;
  color: #555;
  line-height: 1.2;
  padding: 14px 0;
  margin-bottom: 25px;
}
::placeholder {
  color: #ccc;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
textarea:focus,
select:focus {
  box-shadow: 0 0 0 0 #555;
  outline: none;
}

input[type="text"] :focus:valid,
input[type="email"] :focus:valid,
input[type="password"] :focus:valid,
input[type="number"] :focus:valid,
input[type="tel"] :focus:valid,
input[type="url"] :focus:valid,
textarea :focus:valid,
select :focus:valid {
}

input[type="text"] :focus:invalid,
input[type="email"] :focus:invalid,
input[type="password"] :focus:invalid,
input[type="number"] :focus:invalid,
input[type="tel"] :focus:invalid,
input[type="url"] :focus:invalid,
textarea :focus:invalid,
select :focus:invalid {
}

textarea {
  resize: none;
}

.ba-float-label {
  position: relative;
}

.ba-float-label__input::placeholder {
  color: transparent;
}
.ba-float-label__placeholder {
  font-size: 13px;
  color: #555555;
  cursor: pointer;
  position: absolute;
  left: 0;
  bottom: 13px;

  transition: transform 0.2s;
}
.ba-float-label__input:not(:placeholder-shown) ~ .ba-float-label__placeholder,
.ba-float-label__input:focus ~ .ba-float-label__placeholder {
  transform: translateY(40px);
}
.ba-float-label__input:not(:placeholder-shown):valid {
  box-shadow: 0 3px 0 0 #2ed573;
  border-color: #2ed573;
}
.ba-float-label__input:not(:placeholder-shown):invalid {
  box-shadow: 0 3px 0 0 #ff4757;
  border-color: #ff4757;
}
.ba-footer {
  padding: 60px 0;
  background: #eee;
}
.ba-socials {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ba-socials a {
  display: flex;
  width: 64px;
  height: 64px;
  background: #dedede;
  border-radius: 50%;
  align-items: center;
  justify-content: center;

  color: #fff;
  border: 2px solid currentColor;
}
.ba-socials a + a {
  margin-left: 7px;
}

.ba-socials svg {
  fill: currentColor;
}

.ba-socials a:hover {
  background: #fff;
  color: #dedede;
}
